<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <!-- Console -->
    <dict>
        <key>display</key>
        <string>console.debug</string>
        <key>insert</key>
        <string>($1)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>console.log</string>
        <key>insert</key>
        <string>($1)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>console.error</string>
        <key>insert</key>
        <string>($1)</string>
    </dict>

    <!-- Bases -->
    <dict>
        <key>display</key>
        <string>var</string>
        <key>insert</key>
        <string> $1</string>
    </dict>
    <dict>
        <key>display</key>
        <string>constructor</string>
    </dict>
    <dict>
        <key>display</key>
        <string>prototype</string>
    </dict>
    <dict>
        <key>display</key>
        <string>toString</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>decodeURI</string>
        <key>insert</key>
        <string>(${1:'${2:uri}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>decodeURIComponent</string>
        <key>insert</key>
        <string>(${1:'${2:uri}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>encodeURI</string>
        <key>insert</key>
        <string>(${1:'${2:uri}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>encodeURIComponent</string>
        <key>insert</key>
        <string>(${1:'${2:uri}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>eval</string>
        <key>insert</key>
        <string>(${1:'${2:uri}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>isFinite</string>
        <key>insert</key>
        <string>(${1:'${2:uri}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>isNaN</string>
        <key>insert</key>
        <string>(${1:'${2:uri}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>parseFloat</string>
        <key>insert</key>
        <string>(${1:'${2:uri}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>parseInt</string>
        <key>insert</key>
        <string>(${1:'${2:uri}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>uneval</string>
        <key>insert</key>
        <string>(${1:'${2:uri}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>Infinity</string>
    </dict>
    <dict>
        <key>display</key>
        <string>NaN</string>
    </dict>
    <dict>
        <key>display</key>
        <string>undefined</string>
    </dict>
    <dict>
        <key>display</key>
        <string>RegExp</string>
        <key>insert</key>
        <string>(${1:'${2:regexp}'}${3:,'${4:flags}'})</string>
    </dict>

    <!-- DOM -->
    <dict>
        <key>display</key>
        <string>document</string>
    </dict>
    <dict>
        <key>display</key>
        <string>document.body</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getElementById</string>
        <key>insert</key>
        <string>(${1:'${2:string id}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getElementsByTagName</string>
        <key>insert</key>
        <string>(${1:'${2:string nodename}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getElementsByClassName</string>
        <key>insert</key>
        <string>(${1:'${2:string className}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getElementByName</string>
        <key>insert</key>
        <string>(${1:'${2:string name}'})</string>
    </dict>

    <!-- Array -->
    <dict>
        <key>display</key>
        <string>Array</string>
    </dict>
    <dict>
        <key>display</key>
        <string>reduce</string>
        <key>insert</key>
        <string>(${1:function(previous, current, curIdx, a)
{
    $4
\}}${2:, ${3:initialValue}})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>reduceRight</string>
        <key>insert</key>
        <string>(${1:function(previous, current, curIdx, a)
{
    $4
\}}${2:, ${3:initialValue}})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>concat</string>
        <key>insert</key>
        <string>(
    ${1:Array value1},
    ${2:Array value2}${3:,
    Array value3}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>every</string>
        <key>insert</key>
        <string>(${1:function(v, k, a)
{
    $2
\}}</string>
    </dict>
    <dict>
        <key>display</key>
        <string>filter</string>
        <key>insert</key>
        <string>(${1:function(v, k, a)
{
    $4
\}}${2:, ${3:scope}})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>forEach</string>
        <key>insert</key>
        <string>(${1:function(v, k, a)
{
    $4
\}}${2:, ${3:scope}})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>indexOf</string>
        <key>insert</key>
        <string>(${1:searchElement}${2:, ${3:fromIndex}})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>Array.isArray</string>
        <key>insert</key>
        <string>(${1:obj})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>join</string>
        <key>insert</key>
        <string>(${1:'${2:separator}'})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>lastIndexOf</string>
        <key>insert</key>
        <string>(${1:searchElement}${2:, ${3:fromIndex}})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>length</string>
    </dict>
    <dict>
        <key>display</key>
        <string>map</string>
        <key>insert</key>
        <string>(${1:function(v, k, a)
{
    $4
\}}${2:, ${3:scope}})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>pop</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>push</string>
        <key>insert</key>
        <string>(
    ${1:val1}${2:,
    val2}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>reverse</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>shift</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>slice</string>
        <key>insert</key>
        <string>(
    ${1:begin}${2:,
    end}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>some</string>
        <key>insert</key>
        <string>(${1:function(v, k, a)
{
    $4
\}}${2:, ${3:scope}})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>sort</string>
        <key>insert</key>
        <string>(${1:function(a, b)
{
    $2
\}})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>splice</string>
        <key>insert</key>
        <string>(
    ${1:index},
    ${2:howMany}${3:,
    ${4:elementN}}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>unshift</string>
        <key>insert</key>
        <string>(
    ${1:element1}${2:,
    ${3:element2}}
)</string>
    </dict>

    <!-- Boolean -->
    <dict>
        <key>display</key>
        <string>Boolean</string>
    </dict>
    <dict>
        <key>display</key>
        <string>valueOf</string>
        <key>insert</key>
        <string>()</string>
    </dict>

    <!-- Date -->
    <dict>
        <key>display</key>
        <string>Date</string>
        <key>insert</key>
        <string>(${1:
    ${2:milliseconds|dateString|year}${3:,
    ${4:month},
    ${5:day}${6:,
    ${7:hours},
    ${8:minutes},
    ${9:seconds},
    ${10:ms}}}}
})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>UTC</string>
        <key>insert</key>
        <string>(
    ${1:year},
    ${2:month}${3:,
    ${4:day}${5:,
    ${6:hours}${7:,
    ${8:minutes}${9:,
    ${10:seconds}${11:,
    ${12:ms}}}}}
})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getDate</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getDay</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getFullYear</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getHours</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getMilliseconds</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getMinutes</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getMonth</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getSeconds</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getTime</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getTimezoneOffset</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getUTCDate</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getUTCDay</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getUTCFullYear</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getUTCHours</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getUTCMilliseconds</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getUTCMinutes</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getUTCMonth</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getUTCSeconds</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>getYear</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>now</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>parse</string>
        <key>insert</key>
        <string>(${1:dateString})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setDate</string>
        <key>insert</key>
        <string>(${1:date})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setFullYear</string>
        <key>insert</key>
        <string>(${1:fullYear})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setHours</string>
        <key>insert</key>
        <string>(${1:hours})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setMilliseconds</string>
        <key>insert</key>
        <string>(${1:ms})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setMinutes</string>
        <key>insert</key>
        <string>(${1:minutes})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setMonth</string>
        <key>insert</key>
        <string>(${1:month})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setSeconds</string>
        <key>insert</key>
        <string>(${1:seconds})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setTime</string>
        <key>insert</key>
        <string>(${1:time})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setUTCDate</string>
        <key>insert</key>
        <string>(${1:date})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setUTCFullYear</string>
        <key>insert</key>
        <string>(${1:fullYear})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setUTCHours</string>
        <key>insert</key>
        <string>(${1:hours})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setUTCMilliseconds</string>
        <key>insert</key>
        <string>(${1:ms})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setUTCMinutes</string>
        <key>insert</key>
        <string>(${1:minutes})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setUTCMonth</string>
        <key>insert</key>
        <string>(${1:month})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setUTCSeconds</string>
        <key>insert</key>
        <string>(${1:seconds})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>setYear</string>
        <key>insert</key>
        <string>(${1:year})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>toDateString</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>toGMTString</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>toISOString</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>toJSON</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>toLocaleDateString</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>toLocaleString</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>toLocaleTimeString</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>toTimeString</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>toUTCString</string>
        <key>insert</key>
        <string>()</string>
    </dict>
    <dict>
        <key>display</key>
        <string>valueOf</string>
        <key>insert</key>
        <string>()</string>
    </dict>

    <!-- Error -->
    <dict>
        <key>display</key>
        <string>Error</string>
        <key>insert</key>
        <string>(
    ${1:'${2:message}'}${3:,
    ${4:'${5:filename}'}${6:,
    ${7:lineNumber}}}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>stack</string>
    </dict>
    <dict>
        <key>display</key>
        <string>message</string>
    </dict>
    <dict>
        <key>display</key>
        <string>name</string>
    </dict>
    <dict>
        <key>display</key>
        <string>EvalError</string>
        <key>insert</key>
        <string>(
    ${1:'${2:message}'}${3:,
    ${4:'${5:filename}'}${6:,
    ${7:lineNumber}}}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>InternalError</string>
        <key>insert</key>
        <string>(
    ${1:'${2:message}'}${3:,
    ${4:'${5:filename}'}${6:,
    ${7:lineNumber}}}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>RangeError</string>
        <key>insert</key>
        <string>(
    ${1:'${2:message}'}${3:,
    ${4:'${5:filename}'}${6:,
    ${7:lineNumber}}}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>ReferenceError</string>
        <key>insert</key>
        <string>(
    ${1:'${2:message}'}${3:,
    ${4:'${5:filename}'}${6:,
    ${7:lineNumber}}}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>StopIteration</string>
        <key>insert</key>
        <string>(
    ${1:'${2:message}'}${3:,
    ${4:'${5:filename}'}${6:,
    ${7:lineNumber}}}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>SyntaxError</string>
        <key>insert</key>
        <string>(
    ${1:'${2:message}'}${3:,
    ${4:'${5:filename}'}${6:,
    ${7:lineNumber}}}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>TypeError</string>
        <key>insert</key>
        <string>(
    ${1:'${2:message}'}${3:,
    ${4:'${5:filename}'}${6:,
    ${7:lineNumber}}}
)</string>
    </dict>
    <dict>
        <key>display</key>
        <string>URIError</string>
        <key>insert</key>
        <string>(
    ${1:'${2:message}'}${3:,
    ${4:'${5:filename}'}${6:,
    ${7:lineNumber}}}
)</string>
    </dict>

    <!-- Function -->
    <dict>
        <key>display</key>
        <string>Function</string>
        <key>insert</key>
        <string>($1)
{
    $2
}</string>
    </dict>
    <dict>
        <key>display</key>
        <string>function</string>
        <key>insert</key>
        <string>($1)
{
    $2
}</string>
    </dict>
    <dict>
        <key>display</key>
        <string>apply</string>
        <key>insert</key>
        <string>(${1:scope}, ${2:arguments})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>apply</string>
        <key>insert</key>
        <string>(${1:scope}, ${2:arguments})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>call</string>
        <key>insert</key>
        <string>(${1:scope}, ${2:arg1}${3:,${4:arg2…}})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>caller</string>
    </dict>
    <dict>
        <key>display</key>
        <string>name</string>
    </dict>
    <dict>
        <key>display</key>
        <string>arguments</string>
    </dict>
    <dict>
        <key>display</key>
        <string>bind</string>
        <key>insert</key>
        <string>(${1:scope}, ${2:arg1}${3:,${4:arg2…}})</string>
    </dict>

    <!-- JSON -->
    <dict>
        <key>display</key>
        <string>JSON</string>
    </dict>
    <dict>
        <key>display</key>
        <string>JSON.parse</string>
        <key>insert</key>
        <string>(${1:json}${2:, function(k, v)
{
    $4
\}})</string>
    </dict>
    <dict>
        <key>display</key>
        <string>JSON.stringify</string>
        <key>insert</key>
        <string>(${1:json}${2:, ${3:function(k, v)
{
    $6
\}}}${4:,${5:space}})</string>
    </dict>

    <!-- Math -->
    <dict>
        <key>display</key>
        <string>Math</string>
    </dict>
</array>
</plist>